body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

select {
  cursor: pointer;
}

button {
  cursor: pointer;
  padding-inline: 2em;
  margin-inline: 1em;
}

table, tr {
  border: 1px solid;
}
th {
  padding-block: 0.5em;
  font-size: 14px;
}
td {
  text-align: center;
  border: 1px solid #ddd;
  border-width: 1px;
  width: 5em;
  padding-block: 1.5em;
  padding-inline: 1em;
  font-size: 12px;
}

dialog {
  position: relative;
  width: 60vw;
  min-height: 80vh;
}

li {
  margin-top: 1.5em;
  font-size: 1.2em;
  font-weight: 600;
}

img {
  border: 2px solid #ddd;
  margin: 1em;
}

.modalCloseBtn {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #ddd;
  border-radius: 100%;
  padding-inline: 10px;
  padding-block: 6px;
  margin: 1em;
}

.modalCloseBtn:hover {
  background-color: #ddd;
  cursor: pointer;
}

.flex-row {
  display: flex; 
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.timesheetTitle {
  font-weight: bold;
  margin: 0;
}

.errorsBox {
  padding-inline: 1em;
  margin-block: 0.5em;
  border: 1px solid #FF5050;
  border-radius: 5px;
  background-color: #FF5050;
}
