table, tr {
  border: 1px solid;
}
th {
  padding-block: 0.5em;
}
td {
  text-align: center;
  border: 1px solid #ddd;
  border-width: 1px;
  min-width: 5em;
  padding-block: 1.5em;
  padding-inline: 1em;
}

.errors {
  font-size: 1.2rem;
}
