body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

textarea {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-block: 0.5em;
}

.textareaContainer {
  position: relative;
}

.textareaPaste {
  position: absolute;
  bottom: 20px;
  right: 30px;
  border: none;
  margin: 0;
  padding: 0.5em;
  color: #aaa;
  background-color: white;
  transition: 300ms;
}
.textareaPaste:hover {
  color: #555;
}

select {
  padding: 4px;
  cursor: pointer;
  margin-inline: 0.5em;
}

select#customGender {
  width: 70px;
}

button {
  cursor: pointer;
  padding-block: 4px;
  padding-inline: 2em;
  margin-inline: 1em;
}

.icon {
  position: absolute;
  top: -5px;
}

.tabContainer {
  position: relative;
  width: 170px;
  height: 43px;
}

.tab {
  position: absolute;
  top: 1px;
  width: 100%;
  height: 100%;
  border: none;
  border-top: 1px solid #ddd;
  border-inline: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  padding-block: 1em;
  margin: 0;
  background-color: #fff;
}
.tab:hover {
  background-color: #eee; 
}
.tab:focus {
  background-color: white;
}

.timesheetContainer, .scheduleCheckContainer {
  display: none;
  position: relative;
  border: 1px solid #ddd;
  background-color: white;
  min-height: 80%;
  padding: 1em;
  z-index: 1;
}

.copy {
  padding: 0;
  color: #aaa;
  background-color: white;
  border: none;
  transition: 300ms;
}
.copy:hover {
  color: #111;
}

table {
  padding: 0.5em;
  border: 1px solid #ddd;
}

tr {
  border: 1px solid #ddd;
}
th {
  padding-block: 0.5em;
  font-size: 14px;
}
td {
  text-align: center;
  border: 1px solid #ddd;
  border-width: 1px;
  width: 5em;
  padding-block: 1.5em;
  padding-inline: 1em;
  font-size: 12px;
}

dialog {
  position: relative;
  width: 50vw;
  height: 80vh;
}

ol {
  margin-inline: 2em;
}

ol > li {
  margin-top: 3em;
  font-size: 1.2em;
  font-weight: 500;
}

ul > li {
  margin-top: 1em;
}

.modalCloseBtn {
  background-color: white;
  position: sticky;
  top: 0;
  left: 99%;
  border: 1px solid #ddd;
  border-radius: 100%;
  padding-inline: 10px;
  padding-block: 6px;
  margin: 1em;
}

.modalCloseBtn:hover {
  background-color: #ddd;
  cursor: pointer;
}

.flex-row {
  display: flex; 
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.timesheetTitle {
  font-family: sans-serif;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.errorHighlight {
  outline: 1px red solid;
}

.imgTutorial {
  border: 2px solid #ddd;
  margin: 1em;
  width: 600px;
  height: auto;
}

input {
  padding: 4px;
  margin-inline: 0.5em;
}

input.holidays {
  border: 1px solid black;
  border-radius: 3px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  margin-inline: 0.5em;
  margin-block: 0.2em;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #aaa;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
